<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="pl.tkowalcz.tjahzi.log4j2, config">
    <!-- Property 설정 -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">/data/log</Property>
        <Property name="LOG_FILE_NAME">catalina.log</Property>
        <Property name="LOKI_URL">http://loki:3100</Property>

    </Properties>

    <!-- Appenders 정의 -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile" fileName="${LOG_DIR}/${LOG_FILE_NAME}"
                     filePattern="${LOG_DIR}/catalina-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <!-- 롤링 정책: 매일 새로운 팅로그 파일 생성 -->
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <!-- Loki Appender -->
        <Loki name="LokiAppender" bufferSizeMegabytes="64">
            <!-- Loki Server URL -->
            <url>${LOKI_URL}</url>

            <!-- Filters and Layout -->

            <PatternLayout>
                <Pattern>
                    time=%d{yyyy-MM-dd HH:mm:ss},app=log4j2-app,host=dev,level=%level,logger=%logger{36},thread=%thread,exName=%X{exName},message=%msg,exception=%ex{3}
                </Pattern>
            </PatternLayout>

            <Filters>
                <!-- LokiFilter 추가 -->
                <LokiFilter level="ERROR" />
            </Filters>

            <!-- Optional Headers -->
<!--            <Header name="X-Scope-OrgID" value="default" />-->

            <!-- Labels -->
            <Label name="app" value="log4j2-app" />
            <Label name="host" value="dev" />
            <Label name="level" value="%level" />
            <Label name="exName" value="${ctx:exName}" />

            <!-- Log Level Mapping -->
            <LogLevelLabel>level</LogLevelLabel>
        </Loki>
    </Appenders>

    <!-- Loggers 정의 -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="LokiAppender" />
        </Root>
    </Loggers>
</Configuration>
